.navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffdf00;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #ffdf00 !important;
}

.feature-item:hover,
.nav-item .nav-link:hover {
    color: #ffdf00;
}


@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
}
